{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1><br>

    <p>Listado de las mejores 250 películas según IMDB:</p>
    <hr>
    <p><a href="?decada=90">Listado Decada de los 90</a></p>
    <hr>



    {% for pelis in peliculas %}
    <ol>
        <li style="list-style: none;">{{ pelis.place }}. <a href="{{ pelis.link }}">{{ pelis.title }}</a> ({{ pelis.year }})<br><img src="{{ pelis.imagen }}"> &#9733; {{ pelis.rating }}<br>Reparto: {{ pelis.cast }}</li>
        <hr>
    </ol>

    {% endfor %}
</div>



{% if peliculas.paginator.count > 1 %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "includes/pagination.html" with subpages=peliculas %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}