{% extends "base.html" %}


{% load wagtailcore_tags %}


{% block content %}

<div class="container fluid">

    <h1>{{ page.title }}</h1>

    <div class="col-md-7">
        <form method="post">
            <fieldset class="form-group">
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter name" width="200px">
            </fieldset>
            <fieldset class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </fieldset>
            <fieldset class="form-group">
                <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
            </fieldset>
            <fieldset class="form-group text-xs-right">
                <button type="reset" class="btn-md">Reset</button>
                <button type="button" class="btn-md">Enviar</button>
            </fieldset>
        </form>
    </div>
    <br>
    <p>{{ page.descripcion }}</p>
</div>

{% endblock %}