{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-librosindexpage{% endblock %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<style>

    .precio {
        font-weight: bold;
        font-size: larger;
        background-color: goldenrod;
        text-align: center;
        border: solid;
    }

    .rango {
        font-weight: bold;
        font-size: larger;
        background-color: gold;
        text-align: center;
        border: solid;
    }

    .autor {
        font-weight: bold;
        font-size: larger;
        background-color: gold;
        text-align: center;
        border: solid;
    }



    a {
        text-decoration: none;
    }
</style>

{% endblock %}


{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1><br>

    <p>Listado de los 100 libros mas vendidos:</p>
    <hr>

    <table id="libros">
        <thead>
            <tr>
                <td></td>
                <td>Autor</td>
                <td>Rank</td>
                <td>Precio</td>
            </tr>
        </thead>
        <tbody>


            {% for libros in libros %}
            
                <tr>
                    <td><a href="{{libros.link}}"><img src="{{libros.imagen}}" alt="{{pelis.title}}"></a></td>

                    <td><div class="autor"><a href="{{libros.urlAuthor}}">{{libros.author}}</a></div></td>
                    <td>
                        <div class="rango">Rank {{libros.rank}}</div>
                    </td>
                    <td>
                        <div class="precio">{{libros.price}}</div>
                    </td>
                </tr>
            

            {% endfor %}

        </tbody>

    </table>
</div>


{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/i18n/es_es.json"></script>

<script>
    
    $(document).ready(function () {
        $('#libros').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.11.4/i18n/es_es.json'
            }
        });
    });
</script>
{% endblock %}