{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags blog_tags %}

{% block body_class %}template-musicapage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    <div><img src="{{ page.imagen }}" width="100%"></div>


    {{ page.body|richtext }}

    <!-- Categorías-->
    {% with categories=page.categories.all %}
    {% if categories %}
    <h3>Publicado en :</h3>
    <ul>
        {% for category in categories %}
        <a href="../?categoria={{ category.name }}">
            <li style="display: inline">
                <h4>{{ category.name }}</h4>
                {% image category.icon fill-48x48 style="vertical-align: middle" %}
            </li>
        </a>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <hr>


    <p><a href="{{ page.get_parent.url }}">...Volver al blog</a></p>
</div>

{% endblock %}